In [4]:
# train.csv 파일을 전처리 하기위한 스크립트코드.
import pandas as pd #pandas DataFrame 처리를 위한 패키지
import numpy as np #python에서 수학식을 처리하기 위한 패키지

#train.csv 로드
data = pd.read_csv('/Zhim/2020/train.csv')
dummy_data = data #원본 훼손을 방지하기 위해 변경될 데이터 프레임을 생성

#학습에 필요없다고 생각되는 열 삭제
del dummy_data['Name']
del dummy_data['Cabin']
del dummy_data['Fare']
del dummy_data['Ticket']

#생존확률을 표시할 Survival probability(%) 열을 추가
dummy_data['Survival probability(%)'] = 0

#Age(나이) 열에서 NAN 값을 나이 평균값으로 대체
dummy_data['Age'].fillna(value = dummy_data['Age'].mean())
#dummy_data.loc[dummy_data["Age"]=="Nan","Age"] = dummy_data['Age'].mean()

#Sex(성별을) 남자 : 0 , 여자 : 1로 인코딩
dummy_data.loc[dummy_data["Sex"] == "male","Sex"] = 0
dummy_data.loc[dummy_data["Sex"] == "female","Sex"] = 1

In [5]:
data

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Embarked,Survival probability(%)
0,1,0,3,0,22.0,1,0,S,0
1,2,1,1,1,38.0,1,0,C,0
2,3,1,3,1,26.0,0,0,S,0
3,4,1,1,1,35.0,1,0,S,0
4,5,0,3,0,35.0,0,0,S,0
...,...,...,...,...,...,...,...,...,...
886,887,0,2,0,27.0,0,0,S,0
887,888,1,1,1,19.0,0,0,S,0
888,889,0,3,1,NaN,1,2,S,0
889,890,1,1,0,26.0,0,0,C,0
890,891,0,3,0,32.0,0,0,Q,0

In [2]:

#나이 최대 최소 평균값
print(data['Age'].min())
print(data['Age'].max())
print(data['Age'].mean())

#생존 비율
print(data['Survived'].min())
print(data['Survived'].max())
print(data['Survived'].mean())

0.42
80.0
29.69911764705882
0
1
0.3838383838383838

In [91]:
dummy_data['Age'].fillna(value = dummy_data['Age'].mean())

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: Age, Length: 891, dtype: float64

In [89]:
dummy_data['Embarked'].isin(['S']).sum()

644

In [3]:
data.head(20)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Embarked,Survival probability(%)
0,1,0,3,0,22.0,1,0,S,0
1,2,1,1,1,38.0,1,0,C,0
2,3,1,3,1,26.0,0,0,S,0
3,4,1,1,1,35.0,1,0,S,0
4,5,0,3,0,35.0,0,0,S,0
5,6,0,3,0,NaN,0,0,Q,0
6,7,0,1,0,54.0,0,0,S,0
7,8,0,3,0,2.0,3,1,S,0
8,9,1,3,1,27.0,0,2,S,0
9,10,1,2,1,14.0,1,0,C,0
10,11,1,3,1,4.0,1,1,S,0
11,12,1,1,1,58.0,0,0,S,0
12,13,0,3,0,20.0,0,0,S,0
13,14,0,3,0,39.0,1,5,S,0
14,15,0,3,1,14.0,0,0,S,0
15,16,1,2,1,55.0,0,0,S,0
16,17,0,3,0,2.0,4,1,Q,0
17,18,1,2,0,NaN,0,0,S,0
18,19,0,3,1,31.0,1,0,S,0
19,20,1,3,1,NaN,0,0,C,0